[Unit]
Description=Samsung Galaxy Book5 Pro Battery Monitor
Documentation=https://github.com/samsung-battery-monitor
After=graphical-session.target # using `swaync`
PartOf=graphical-session.target # I dont want it to linger as Zombie if there is `NO DESKTOP session` (eg.: when i am logged out)

[Service]
Type=simple # Rust bin is a `loop-running` bin... doesnt send an`ready signal` via `sd_notify()`
ExecStart=%h/.local/bin/battery-monitor
Restart=always
RestartSec=10

# Environment
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-1

# Security hardening
NoNewPrivileges=true # 0 elevated privileges
PrivateTmp=true # isolated process /tmp/, Snooper can't snoop other processes temp file
ProtectSystem=strict # Bin only reads `/sys/class/power_supply` - No write access needed
ProtectHome=read-only
ReadWritePaths=/run/user/%U

# Resource limits
MemoryMax=50M
CPUQuota=5%

[Install]
WantedBy=default.target
